Language: Cpp
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 170
DerivePointerAlignment: false # make sure * and & align on the left
IndentWidth: 2
QualifierAlignment: Left # force east const alignment 
PointerAlignment: Left
SortIncludes: false
TabWidth: 2
UseTab: Never
